body, .link > a {
    color: rgba(0, 0, 0, 0.5);
}
button, input[type="submit"] {
	background-color: rgba(0,171,255,1.00);
	color: rgba(239,239,239,1.00);
}
button:hover, input[type="submit"]:hover {
	background-color: rgba(0,106,158,1.00);
}
button:active, input[type="submit"]:active {
    background-color: rgba(70,188,255,1.00);
}
.navbar {
    background-color: #dadada;
    border-bottom-color: #666666;
    border-bottom-style: solid;
}
.left {
    background-color: #e1e1e1;
}
.table-header {
	border-color: #666666;
}
.gutter {
	background: #666666;
}
.right {
    background-color: #e9e9e9;
}
.worker-node {
	border-color: #666666;
}
.maintenance {
    border-color: #AD8D02;
}
.maintenance-text {
	color: #AD8D02;
}
.modal-container {
	background-color: rgba(0,0,0,0.5)
}
.modal-window {
	background-color: #dadada;
}
