body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    height: 100vh;
}
* {
    box-sizing: border-box;
}
button, input[type="submit"] {
    border: 2px none;
    border-radius: 6px;
    font-size: 1em;
}
button:hover, input[type="submit"]:hover {
    cursor: pointer;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 60px;
    border-bottom: 4px;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-toggler {
	display: none;
}
.main-text {
    font-size: 25px;
    font-weight: 700;
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    text-align: left;
}
.navbar-items {
    display: flex;
    flex-direction: row;
    width: calc(100% - 337px);
    padding-left: 13px;
    padding-right: 13px;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    margin-right: auto !important;
}
.navbar-nav-right {
    display: flex;
    padding-inline-start: 0px;
    flex-direction: row;
    margin-left: auto !important;
}
.navbar-item {
    display: list-item;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    float: none;
    overflow: hidden;
}
.left {
    float: left;
    padding: 20px;
    overflow-y: auto;
    margin-top: 60px;
    overflow-x: hidden;
}
.user-name {
    font-weight: bold;
    font-size: 1.6em;
    padding-bottom: 15px;
}
.models-table {
    border-collapse: collapse;
    text-align: left;
    width: 100%
}
.models-table tr {
    padding-left: 2px;
    padding-right: 2px;
}
.models-table td {
    padding-top: 2px;
    padding-bottom: 2px;
}
.table-header {
    border-bottom: 2px solid;
}
.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    width: 1px;
    cursor: col-resize;
}
.gutter.gutter-vertical {
    height: 1px;
    cursor: row-resize;
}
.right {
    float: left;
    padding: 20px;
    overflow: hidden;
    margin-top: 60px;
    overflow-y: auto;
}
.workers-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.workers-container > div {
    width: calc(100% / 3 - 16px);
}
.worker-node {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}
.highlighted-node {
    border-color: #ffd700 !important; /* Gold */
    box-shadow: 0 0 8px 2px #ffd70055;
}
.link > a {
    text-decoration: none;
}
.link > a > i {
    padding-right: 8px;
}
.link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s background-color ease-in-out;
    transform: translate(0%, -100%);
}
.modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    border-radius: 10px;
    font-weight: bold;
    padding: 13px;
}
.popup-modal {
    width: max(50vw);
}
.worker-modal {
    width: 40vw;
}
.options-modal {
    width: 40vw;
}
.leaderboard-modal {
    width: 30vw;
}
.manageworkers-modal {
    width: 84vw;
}
#manageWorkersList {
    font-size: min(1.4vw, 1.4em);
}
.modal-header {
    font-size: 2em;
}
.modal-text {
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
}
.list-modal-text {
    font-size: 1.4em;
    font-weight: normal;
}
.list-modal-text > div {
    padding-top: 4px;
    padding-bottom: 4px;
}
.modal-buttons {
    padding-top: 20px;
    text-align: center;
}
.modal-buttons > button {
    margin-left: 2px;
    margin-right: 2px;
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
}
.close-worker-button {
    float: right;
    text-align: right;
}
.close-worker-button:hover {
    cursor: pointer;
}
#manageWorkersList > tr {
    text-align: center;
}
::-webkit-scrollbar {
    width: 5px;
	height: 5px;
    float: right;
}
::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #777;
    padding-right: 2px;
}
@media (max-width: 1287px) {
	.navbar {
		flex-direction: column;
		overflow: hidden;
		height: 75px;
		transition: height 0.5s ease-in-out;
	}
	.main-text {
		font-size: 22px;
		padding-top: 10px;
		padding-left: 18px;
	}
	.main-text > #mainText {
		width: 298px;
		display: inline-block;
	}
	.navbar-toggler {
		width: calc(100% - 298px);
		font-size: 30px;
		display: inline-block;
		text-align: right;
	}
	.navbar-toggler > i  {
		border: 2px solid;
		border-radius: 10px;
		margin-top: 2px;
		margin-right: 12px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 16px;
		padding-right: 16px;
		cursor: pointer;
	}
	.navbar-items {
		flex-direction: column;
		width: 100%;
	}
	.navbar-nav {
		flex-direction: column;
		width: 100%;
	}
	.navbar-nav-right {
		flex-direction: column;
		width: 100%;
		margin-top: 0px;
	}
    .container {
        flex-direction: column;
    }
    .left {
        float: none;
        overflow-x: auto;
    }
    .models-table {
        font-size: min(1vw/0.5em);
    }
    .right {
        float: none;
        margin-top: 0px;
    }
    .workers-container > div {
        width: calc(100% / 1 - 16px);
    }
	.popup-modal, .worker-modal, .options-modal, .leaderboard-modal, .manageworkers-modal {
    	width: 100vw;
	}
}